/*//////////////////////////////////// grid setup */


/* box-sizing: border-box; is required for this solution */

.grid-12, .grid-whole,
.grid-11,
.grid-10,
.grid-9, .grid-three-quarters,
.grid-8, .grid-two-thirds,
.grid-7,
.grid-6, .grid-half,
.grid-5,
.grid-4, .grid-third,
.grid-3, .grid-quarter,
.grid-2,
.grid-1 { 
  margin: 0; clear: none; float: left; 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); 
}

/* 12 column grid */
.grid-12, .grid-whole { width: 100%; }
.grid-11 { width: 91.6666666%; }
.grid-10 { width: 83.3333333%; }
.grid-9, .grid-three-quarters  { width: 75%; }
.grid-8, .grid-two-thirds { width: 66.6666666%; }
.grid-7  { width: 58.3333333%; }
.grid-6, .grid-half  { width: 50%; }
.grid-5  { width: 41.6666666%; }
.grid-4, .grid-third  { width: 33.3333333%; }
.grid-3, .grid-quarter  { width: 25%; }
.grid-2  { width: 16.6666666%; }
.grid-1  { width:  8.3333333%; }

.padded { padding: 1%; }
.padded-left { padding-left: 1%; }
.padded-right { padding-right: 1%; }
.padded-top { padding-top: 1%; }
.padded-bottom { padding-bottom: 1%; }
.padded-sides { padding-left: 1%; padding-right: 1%; }
.padded-vertical { padding-top: 1%; padding-bottom: 1%; }

.flow-opposite { float: right; }

/* Large */
@media (min-width: 801px) {
  .l-grid-12, .l-grid-whole,
  .l-grid-11,
  .l-grid-10,
  .l-grid-9,
  .l-grid-8,
  .l-grid-7,
  .l-grid-6, .l-grid-half,
  .l-grid-5,
  .l-grid-4, .l-grid-third,
  .l-grid-3, .l-grid-quarter,
  .l-grid-2,
  .l-grid-1 { 
    margin: 0; clear: none; float: left; 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); 
  }
  .l-grid-12, .l-grid-whole { width: 100%; }
  .l-grid-11 { width: 91.6666666%; }
  .l-grid-10 { width: 83.3333333%; }
  .l-grid-9, .grid-three-quarters  { width: 75%; }
  .l-grid-8, .grid-two-thirds { width: 66.6666666%; }
  .l-grid-7  { width: 58.3333333%; }
  .l-grid-6, .l-grid-half  { width: 50%; }
  .l-grid-5  { width: 41.6666666%; }
  .l-grid-4, .l-grid-third  { width: 33.3333333%; }
  .l-grid-3, .l-grid-quarter  { width: 25%; }
  .l-grid-2  { width: 16.6666666%; }
  .l-grid-1  { width:  8.3333333%; }

  .l-padded { padding: 1%; }
  .l-padded-left { padding-left: 1%; }
  .l-padded-right { padding-right: 1%; }
  .l-padded-top { padding-top: 1%; }
  .l-padded-bottom { padding-bottom: 1%; }
  .l-padded-sides { padding-left: 1%; padding-right: 1%; }
  .l-padded-vertical { padding-top: 1%; padding-bottom: 1%; }

  .l-flow-opposite { float: right; }
  .l-hidden { display: none; }
}
/* Medium */
@media (min-width: 481px) and (max-width: 800px) {
  .m-grid-12, .m-grid-whole,
  .m-grid-11,
  .m-grid-10,
  .m-grid-9,
  .m-grid-8,
  .m-grid-7,
  .m-grid-6, .m-grid-half,
  .m-grid-5,
  .m-grid-4, .m-grid-third,
  .m-grid-3, .m-grid-quarter,
  .m-grid-2,
  .m-grid-1 { 
    margin: 0; clear: none; float: left; 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); 
  }

  .m-grid-12, .m-grid-whole { width: 100%; }
  .m-grid-11 { width: 91.6666666%; }
  .m-grid-10 { width: 83.3333333%; }
  .m-grid-9, .grid-three-quarters  { width: 75%; }
  .m-grid-8, .grid-two-thirds { width: 66.6666666%; }
  .m-grid-7  { width: 58.3333333%; }
  .m-grid-6, .m-grid-half  { width: 50%; }
  .m-grid-5  { width: 41.6666666%; }
  .m-grid-4, .m-grid-third  { width: 33.3333333%; }
  .m-grid-3, .m-grid-quarter  { width: 25%; }
  .m-grid-2  { width: 16.6666666%; }
  .m-grid-1  { width:  8.3333333%; }

  .m-padded { padding: 1%; }
  .m-padded-left { padding-left: 1%; }
  .m-padded-right { padding-right: 1%; }
  .m-padded-top { padding-top: 1%; }
  .m-padded-bottom { padding-bottom: 1%; }
  .m-padded-sides { padding-left: 1%; padding-right: 1%; }
  .m-padded-vertical { padding-top: 1%; padding-bottom: 1%; }

  .m-flow-opposite { float: right; }
  .m-hidden { display: none; }
}
/* Small */
@media (max-width: 480px) {
  .s-grid-12, .s-grid-whole,
  .s-grid-11,
  .s-grid-10,
  .s-grid-9,
  .s-grid-8,
  .s-grid-7,
  .s-grid-6, .s-grid-half,
  .s-grid-5,
  .s-grid-4, .s-grid-third,
  .s-grid-3, .s-grid-quarter,
  .s-grid-2,
  .s-grid-1 { 
    margin: 0; clear: none; float: left; 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); 
  }
  .s-grid-12, .s-grid-whole { width: 100%; }
  .s-grid-11 { width: 91.6666666%; }
  .s-grid-10 { width: 83.3333333%; }
  .s-grid-9, .grid-three-quarters  { width: 75%; }
  .s-grid-8, .grid-two-thirds { width: 66.6666666%; }
  .s-grid-7  { width: 58.3333333%; }
  .s-grid-6, .s-grid-half  { width: 50%; }
  .s-grid-5  { width: 41.6666666%; }
  .s-grid-4, .s-grid-third  { width: 33.3333333%; }
  .s-grid-3, .s-grid-quarter  { width: 25%; }
  .s-grid-2  { width: 16.6666666%; }
  .s-grid-1  { width:  8.3333333%; }

  .s-padded { padding: 1%; }
  .s-padded-left { padding-left: 1%; }
  .s-padded-right { padding-right: 1%; }
  .s-padded-top { padding-top: 1%; }
  .s-padded-bottom { padding-bottom: 1%; }
  .s-padded-sides { padding-left: 1%; padding-right: 1%; }
  .s-padded-vertical { padding-top: 1%; padding-bottom: 1%; }

  .s-flow-opposite { float: right; }
  .s-hidden { display: none; }
}
